.bg-video{
    position: absolute;
      //we have to set parent (section-stories )section to relative which is in home.scss
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.15 ;
    overflow: hidden;
  
    &__content{
        height: 100%;
        width: 100%;
        object-fit: cover;
        //it will cover all over the section and maintain aspect ratio
    }
}